.main-header {
  padding: 20px 60px;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.header-l .box-logo img {
    display: block;
}
.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-menu .list-menu {
  display: flex;
  align-items: center;
}
.main-menu .list-menu li {
  list-style-type: none;
  margin-right: 40px;
  font-size: 18px;
}
.btn {
  background: linear-gradient(100.67deg, #01c981 -1.71%, #00d7a2 96.02%);
  /* Shadow-02 */
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 0px;
  border: 0px solid transparent;
  padding: 11px 37.5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.content-footer {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer {
  background: #FAFAFA;
  padding: 80px 0;
}
@media screen and (max-width:768px) {
  .main-header {
      padding: 15px;
  }
  .header-r {
    display: none;
  }
  .container {
    padding: 0;
  }
  .content-footer .main-menu .list-menu {
    display: block;
  }
  .content-footer {
    padding: 0 15px;
  }
  .footer-n {
    display: none;
  }
  .main-footer {
    padding: 40px 0;
  }
  .list-copy {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .list-copy li {
    width: 33%;
    font-size: 13px;
    margin-top: 10px;
  }
  .list-copy li:first-child {
    width: 100%;
  }
  .main-footer .content-bottom {
    padding: 0 15px;
  }
}
.main-footer .content-bottom {
  padding: 0 60px;
}
.list-copy li {
  list-style-type: none;
  padding-right: 15px;
}
.list-copy {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 32px;
  border-top: 1px solid #E5E5E5;
}
.footer-r .list-menu li {
  font-family: 'Cabinet Grotesk';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */


/* Text */

color: #3A3C41;
}
.footer-n {
  display: flex;
  align-items: center;
}
.footer-n img {
  margin-left: 5px;
}
.main-menu .list-menu a {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  transition: 0.3s ease;
  
  /* Text */
  text-decoration: none;
  color: #3A3C41;
}
.main-menu .list-menu a:hover {
  color: #01CC87;
}