.columns {
  display: flex;
  flex-wrap: wrap;
}
.w-7 {
  width: calc(7 / 12 * 100%);
}
.w-5 {
  width: calc(5 / 12 * 100%);
}
.main-body {
  padding: 0 60px;
}
.main-section {
  margin-top: 110px;
}
.main-body .content-banner {
  padding-right: 70px;
}
.main-body .content-banner .title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 65px;
  color: #13151b;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
  font-family: "Clash Display", sans-serif;
}
.main-body .content-banner .title img {
  position: absolute;
  top: -20px;
  left: 0;
  width: 78px;
}
.main-color {
  color: #00ca84 !important;
}
.main-body .content-banner .desc {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  margin-top: 0;

  /* Text */
  margin-bottom: 24px;
  color: #3a3c41;
}
.btn-angel {
  margin-right: 16px;
}
.btn-devenir {
  background: transparent !important;
  color: #3a3c41 !important;
  box-shadow: 0px 0px 0px transparent !important;
}
.box-img img {
  width: 100%;
}
.align-center {
  align-items: center;
}
.main-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */
  font-family: "Clash Display", sans-serif;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  /* Title */
  position: relative;
  color: #13151b;
  margin-bottom: 80px;
}
.main-title .icon {
  position: absolute;
  top: -40px;
  left: 0;
  width: 78px;
}
.main-title .icon.res {
  top: -15px;
  z-index: -1;
  left: -100px;
}
.table-round .columns {
  justify-content: space-between;
}
.w-4 {
  width: calc(4 / 12 * 100% - 24px);
}
.w-4.res {
  padding: 0;
  width: calc(4 / 12 * 100% - 20px);
}
.wrap-content {
  padding: 25px;
  background: #ffffff;
  /* Outline */
  height: 100%;
  border: 0.5px solid #e8e8e8;
  /* Shadow-01 */
  text-align: center;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 12px 0px;
}
.wrap-content .box-icon {
  margin-bottom: 25px;
}
.wrap-content .title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-family: "Clash Display", sans-serif;
  /* or 133% */

  text-align: center;
  margin-bottom: 24px;
  /* Text */

  color: #3a3c41;
}
.wrap-content .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* Text */

  color: #3a3c41;
}
.content-desc {
  padding: 86px 134px;
}
.bg-fafafa {
  background: #fafafa;
  position: relative;
}
.content-desc .title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */
  font-family: "Clash Display", sans-serif;

  text-align: center;

  /* Title */

  color: #13151b;
  margin-bottom: 24px;
}
.btn-devenir img {
  margin-bottom: -8px;
}
.content-desc .desc {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  text-align: center;

  /* Text */

  color: #3a3c41;
}
.arrow-l {
  position: absolute;
  left: 0;
  bottom: 35%;
  transform: translateY(50%);
}
.arrow-r {
  position: absolute;
  right: 0;
  top: 0;
}
.w-6 {
  width: calc(6 / 12 * 100%);
}
.content-round {
  padding: 0 60px;
}
.main-service {
  padding: 0 60px;
}
.content-service .title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  font-family: "Clash Display", sans-serif;
  /* or 125% */

  /* Title */

  color: #13151b;
  margin-bottom: 32px;
}
.content-service .list-sv li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fafafa;
  border-radius: 12px;
  padding: 26.67px;
  margin-bottom: 24px;
}
.content-service .list-sv li:last-child {
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
.content-service .list-sv li .txt {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
  color: #13151b;
}
.content-service .list-sv {
  margin-bottom: 48px;
}
.content-service .list-sv li .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Text */

  color: #3a3c41;
}
.content-service .list-sv li .guide-l {
  width: 28px;
}
.content-service .list-sv li .guide-r {
  width: calc(100% - 45px);
}
.content-service {
  padding-right: 65px;
}
.table-servide .box-banner {
  padding-left: 65px;
}
.content-about {
  position: relative;
}
.content-about .elip-ab {
  position: absolute;
  right: -10px;
  top: 0;
}
.content-about .line-ab {
  position: absolute;
  left: -10px;
  top: 50%;
}
.content-about-l {
  padding: 0 60px;
  text-align: left;
}
.main-title.res {
  margin-left: initial;
  margin-bottom: 24px;
}
.content-about .but-img {
  position: absolute;
  right: -45px;
  bottom: 5px;
}
.content-about-l .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Text */
  margin-bottom: 32px;
  color: #3a3c41;
}
.line-about .arrow-ab {
  position: absolute;
  bottom: -25%;
  left: 21px;
}
.line-about {
  padding-right: 80px;
  position: relative;
}
.line-about li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 88px;
  position: relative;
}
.line-about li:before {
  content: "";
  position: absolute;
  left: 32px;
  top: 75%;
  background: linear-gradient(100.67deg, #01c981 -1.71%, #00d7a2 96.02%);
  border-radius: 20px 20px 0px 20px;
  width: 2px;
  height: 100px;
  opacity: 0.3;
}
.line-about li:nth-child(1):before {
  opacity: 0.3;
}
.line-about li:nth-child(2):before {
  opacity: 1;
}
.line-about li:nth-child(3):before {
  opacity: 0.3;
}
.line-about li:nth-child(4):before {
  opacity: 0.3;
}
.line-about li:nth-child(2) .icon-ab {
  opacity: 1;
}
.line-about li .icon-ab {
  width: 64px;
  opacity: 0.3;
}
.line-about li .text-ab {
  width: calc(100% - 104px);
}
.line-about li:nth-child(2) .text-ab .title {
  opacity: 1;
}
.line-about li:nth-child(2) .text-ab .desc {
  opacity: 1;
}
.line-about li .text-ab .title {
  background: linear-gradient(100.67deg, #01c981 -1.71%, #00d7a2 96.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 10px;
  opacity: 0.3;
}
.line-about li .text-ab .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Black */

  color: #000000;
  opacity: 0.3;
}
.content-comment {
  padding: 0 60px;
}
.content-comment .list-comment {
  padding: 0 0 0 200px;
}
.content-comment .list-comment li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}
.content-comment .list-comment li:last-child {
  margin-bottom: 0;
}
.content-comment .list-comment li .title {
  width: 40%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* or 133% */

  /* Title */
  position: relative;
  color: #13151b;
  opacity: 0.3;
  padding-left: 10px;
}
.content-comment .list-comment li .title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 76px;
  background: linear-gradient(100.67deg, #01c981 -1.71%, #00d7a2 96.02%);
  border-radius: 20px 20px 0px 20px;
}
.content-comment .list-comment li .desc::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 76px;
  background: linear-gradient(100.67deg, #01c981 -1.71%, #00d7a2 96.02%);
  border-radius: 20px 20px 0px 20px;
}
.content-comment .list-comment li .desc {
  width: calc(100% - 42%);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Text */

  color: #3a3c41;
  opacity: 0.3;
  position: relative;
  padding-left: 10px;
}
.content-comment .list-comment li:first-child .title {
  opacity: 1;
}
.content-comment .list-comment li:first-child .desc {
  opacity: 1;
}
.table-changer {
  padding: 0 186px;
}
.table-changer .columns {
  justify-content: space-between;
}
.table-changer .columns .colum.w-6 {
  width: calc(50% - 24px);
  position: relative;
}
.table-changer .content-guide {
  padding: 35px 24px;
  background: #ffffff;
  /* Shadow-01 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 12px 0px;
  height: 340px;
}
.table-changer .content-guide .title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  /* Title */

  color: #13151b;
  margin-bottom: 20px;
}
.table-changer .content-guide .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  margin-bottom: 20px;
  /* Text */

  color: #3a3c41;
}
.line-bottom {
  position: absolute;
  bottom: -50px;
  right: 0;
}
.btn-angel img {
  margin-bottom: -6px;
}
.table-changer {
  margin-bottom: 118px;
}
.form-massage {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 25px 34px;
  width: max-content;
  justify-content: center;
  margin-bottom: 112px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 15%);
  border-radius: 12px 12px 12px 0px;
}
.form-massage .title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  /* Title */

  color: #13151b;
  margin-right: 24px;
}
.main-footer .content-bottom {
  padding: 0 60px;
}
.list-copy li {
  list-style-type: none;
  padding-right: 15px;
}
.list-copy {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 32px;
  border-top: 1px solid #e5e5e5;
}
.banner-bf {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn:hover {
  background: linear-gradient(
    278.15deg,
    #fff56e -12.3%,
    #fe732a 47.7%,
    #ff5050 107.98%,
    #ff5050 107.98%
  );
  /* Shadow-02 */

  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .main-body {
    padding: 0 15px;
  }
  .w-7 {
    width: 100%;
  }
  .w-5 {
    width: 100%;
  }
  .main-body .content-banner {
    padding-right: 0;
  }
  .main-body .content-banner .title {
    font-size: 36px;
    line-height: 46px;
  }
  .main-section {
    margin-top: 50px;
  }
  .main-body .content-banner .desc {
    font-size: 16px;
  }
  .button-banner {
    text-align: center;
  }
  .main-title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .w-4 {
    width: 100%;
  }
  .content-round {
    padding: 0 15px;
  }
  .content-desc {
    padding: 50px 15px;
  }
  .content-desc .title {
    font-size: 26px;
    line-height: 44px;
  }
  .content-desc .desc {
    font-size: 16px;
  }
  .arrow-r {
    display: none;
  }
  .arrow-l {
    display: none;
  }
  .w-6 {
    width: 100%;
  }
  .main-service {
    padding: 0 15px;
  }
  .content-service .title {
    font-size: 32px;
    line-height: 44px;
  }
  .content-service {
    padding-right: 0;
  }
  .content-service .list-sv li .txt {
    font-size: 20px;
  }
  .content-service .list-sv li .desc {
    font-size: 14px;
  }
  .table-servide .box-banner {
    padding-left: 0;
  }
  .table-servide .box-banner img {
    width: 100%;
  }
  .content-about .elip-ab {
    display: none;
  }
  .content-about .line-ab {
    display: none;
  }
  .content-about-l {
    padding: 0 15px;
  }
  .line-about {
    padding-right: 0;
    padding-top: 30px;
  }
  .content-comment .list-comment {
    padding: 0;
  }
  .content-comment {
    padding: 0 15px;
  }
  .content-comment .list-comment li .title {
    width: 100%;
    margin-bottom: 20px;
  }
  .content-comment .list-comment li .desc {
    width: 100%;
  }
  .content-comment .list-comment li {
    margin-bottom: 40px;
  }
  .main-title .icon.res {
    top: -30px;
    z-index: -1;
    left: 0;
  }
  .main-title .icon.res img {
    width: 150px;
  }
  .table-changer .columns .colum.w-6 {
    width: 100%;
    margin-bottom: 30px;
  }
  .table-changer {
    padding: 0 15px;
  }
  .table-changer {
    margin-bottom: 50px;
  }
  .form-massage {
    display: block;
    margin-bottom: 50px;
  }
  .form-massage .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.main-carbon-wrap .main-title {
  margin: initial;
}
.banner-bf {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.table-carbon-wrap .content-swap .list-carbon li {
  list-style-type: none;
  margin-bottom: 15px;
  font-family: "Cabinet Grotesk";
}
.table-carbon-wrap .content-swap .list-carbon {
  padding-top: 60px;
}
.banner-bf img {
  width: 100%;
}
.content-slider .item .box-img {
  width: 366px;
  height: 450px;
  margin: auto;
}
.main-carbon-slider {
  margin-bottom: 170px;
  position: relative;
}
.main-carbon-slider .carbon-r {
  position: absolute;
  right: 0;
  top: 50%;
}
.box-guide-w {
  padding: 33px 18px 60px 18px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  height: 100%;
  /* Shadow-01 */
  transition: 0.3s ease;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 12px 0px;
  border: 1px solid transparent;
  position: relative;
}
.box-guide-w:hover {
  background: #f2f2f2;
  border: 1px solid #000000;
}
.box-guide-w .title {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  margin-bottom: 30px;

  /* Title */

  color: #13151b;
}
.box-guide-w .desc {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Text */
  margin-bottom: 30px;
  color: #3a3c41;
}
.btn.btn-row {
  width: 100%;
  background: #f2f2f2;
  /* Shadow-02 */

  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 0px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #000000;
  margin-bottom: 10px;
}
.table-carbon-item .columns {
  width: 1198px;
  margin: 0 auto;
  justify-content: space-between;
}
.main-carbon-item {
  margin-bottom: 250px;
}
.btn-row-s {
  width: 100%;
  margin-bottom: 10px;
  background: linear-gradient(100.67deg, #01c981 -1.71%, #00d7a2 96.02%);
  /* Shadow-02 */
  font-family: "Cabinet Grotesk";
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 0px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
}
.table-carbon-item {
  position: relative;
}
.line-bottom.res {
  position: absolute;
  bottom: -150px;
  right: 115px;
}
.box-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}
.slick-prev {
  margin-left: 0 !important;
  top: 40%;
  z-index: 999;
}
.slick-next {
  margin-right: 0 !important;
  top: 40%;
  z-index: 999;
}
.content-slider {
  width: 500px;
  margin: 0 auto;
}
.content-actor {
  text-align: left;
}
.content-actor .main-title {
  margin: initial;
  text-align: left;
}
.content-actor .desc {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  /* Text */

  color: #3a3c41;
  margin-top: 24px;
}
.main-carbon-actor .columns {
  align-items: center;
}
.main-section.cus {
  margin-top: 0px;
}
.desc-res {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* Text */
  margin-top: -55px;
  color: #3a3c41;
}
.main-carbon-cmt .box-img {
  margin-top: -160px;
  margin-bottom: -160px;
}
.banner-bf-res {
  position: absolute;
  right: 0;
  bottom: 20%;
}
.banner-bf-res.cus {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main-carbon-cmt {
  position: relative;
}
.main-carbon-pour .main-title {
  text-align: left;
  margin: initial;
}
.main-carbon-pour {
  margin-top: 250px;
}
.desc-pour {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 40px;
  /* or 100% */

  margin-top: 22px;
  /* Text */

  color: #3a3c41;
}
.table-main-pour .box-img {
  width: 476px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-pour li {
  list-style-type: none;
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  padding: 26px;
  background: #fafafa;
  border-radius: 12px;
  position: relative;
  z-index: 2;
}
.list-pour li:nth-child(1) {
  margin-bottom: 288px;
}
.list-pour li:nth-child(2) {
  margin-bottom: 288px;
}
.list-pour {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-pour li .icon {
  width: 50px;
}
.list-pour li .text {
  width: calc(100% - 50px);
}
.list-pour li .text .txt-top {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  margin-bottom: 5px;

  color: #01d49a;
}
.list-pour li .text .txt-bot {
  display: block;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #333333;
}
.table-main-pour {
  position: relative;
}
.round-btn {
  width: 550px;
  margin: auto;
  margin-top: 90px;
}
.main-carbon-item.res {
  margin-bottom: 100px !important;
}
.main-nous-wrap {
  margin-top: 80px;
}
.desc-nous {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */

  text-align: center;

  /* Text */
  margin-top: -55px;
  margin-bottom: 20px;
  color: #3a3c41;
}
.list-nous {
  width: 500px;
  margin: 0 auto;
}
.list-nous li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ffffff;
  border: 0.5px solid #e8e8e8;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0 / 15%);
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 18px;
}
.list-nous li:last-child {
  margin-bottom: 0;
}
.list-nous li .icon {
  width: 64px;
  background: #fafafa;
  text-align: center;
  border-radius: 12px;
  height: 64px;
}
.list-nous li .text {
  width: calc(100% - 84px);
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Text */

  color: #3a3c41;
}
.list-nous li .icon img {
  padding: 17px;
}
.main-nous-wrap {
  margin-bottom: 65px;
}
.main-nous-solution .main-title {
  margin: inherit;
  text-align: left;
}
.content-solution .desc {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  margin-top: 33px;
  margin-bottom: 41px;
  display: flex;
  align-items: center;

  /* Text */

  color: #3a3c41;
}
.list-solution li {
  background: #fafafa;
  border-radius: 12px;
  padding: 24px;
  list-style-type: none;
}
.list-solution li {
  margin-bottom: 32px;
}
.list-solution li:last-child {
  margin-bottom: 0;
}
.list-solution li .txt-top {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  /* Title */
  margin-bottom: 5px;
  color: #13151b;
}
.list-solution li .txt-bot {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Text */

  color: #3a3c41;
}
.content-solution {
  width: 560px;
}
.list-images li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 73px;
}
.list-images li:nth-child(1) {
  padding-left: 135px;
}
.list-images li:nth-child(3) {
  padding-left: 135px;
}
.list-images li .text {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */

  /* Black */
  padding-left: 10px;
  color: #000000;
}
.list-images li:nth-child(4) {
  padding-left: 200px;
}
.guide-desc {
  position: relative;
  padding-top: 230px;
}
.guide-desc .icon-angel {
  position: absolute;
  top: 0;
  left: 0;
}
.main-nous-solution {
  position: relative;
}
.content-popple .box-img {
  width: 250px;
}
.content-popple .box-img img {
  display: block;
}
.content-popple {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-popple .txt-round {
  width: calc(100% - 275px);
  position: relative;
}
.content-popple {
  width: 600px;
  margin-bottom: 68px;
}
.content-popple .txt-round .txt {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: justify;

  color: #333333;
}
.button-people {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
}
.table-people .columns {
  justify-content: center;
}
.main-wrap-contacter {
  margin-top: 67px;
}
.main-wrap-contacter .main-title {
  margin: initial;
}
.desc-contacter {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  margin-bottom: 46px;
  margin-top: 24px;
  /* Text */

  color: #3a3c41;
}
.main-wrap-people {
  background: #fafafa;
  padding-top: 67px;
}
.content-contacter {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  /* Shadow-01 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 12px 0px;
  padding: 42px 74px 130px 74px;
  text-align: center;
  height: 80px;
  position: relative;
}
.content-contacter .text {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;

  /* or 125% */

  text-align: center;

  /* Title */

  color: #13151b;
}
.button-contacter {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.main-wrap-contacter .w-6 {
  width: calc(6 / 12 * 100% - 24px);
}
.main-wrap-contacter .columns {
  justify-content: space-between;
}
.btn-row-s img {
  margin-bottom: -4px;
  margin-left: 5px;
}
.main-wrap-contacter {
  position: relative;
}
.img-elip-round {
  position: absolute;
  right: 0;
  top: -28%;
}
.main-wrap-contacter {
  margin-bottom: 67px;
}
.main-nous-wrap .main-title .icon {
  right: 0;
  left: initial;
}

@media screen and (max-width: 768px) {
  .desc-nous {
    font-size: 16px;
    margin-top: -20px;
    line-height: 24px;
  }
  .list-nous {
    width: 100%;
  }
  .main-nous-wrap {
    margin-top: 40px;
  }
  .content-solution {
    width: 100%;
  }
  .content-solution .desc {
    font-size: 16px;
    margin: 20px 0;
  }
  .list-solution li .txt-top {
    font-size: 18px;
  }
  .list-solution li .txt-bot {
    font-size: 14px;
  }
  .guide-desc {
    padding-top: 40px;
  }
  .list-images li:nth-child(1) {
    padding-left: 0;
  }
  .list-images li {
    margin-bottom: 30px;
  }
  .list-images li:nth-child(3) {
    padding-left: 0;
  }
  .list-images li .text {
    font-size: 18px;
  }
  .list-images li:nth-child(4) {
    padding-left: 0;
  }
  .banner-bf-res.cus {
    display: none;
  }
  .content-popple {
    width: 100%;
  }
  .content-popple .box-img {
    width: 100%;
    margin-bottom: 15px;
  }
  .content-popple .txt-round {
    width: 100%;
  }
  .guide-desc .icon-angel {
    display: none;
  }
  .main-wrap-contacter .w-6 {
    width: 100%;
  }
  .content-contacter .text {
    font-size: 18px;
    line-height: 24px;
  }
  .content-contacter {
    height: 75px;
    margin-bottom: 10px;
    padding: 42px 50px 100px 50px;
  }
  .main-nous-wrap {
    padding: 0 10px;
  }
  .main-nous-solution {
    padding: 0 10px;
  }
  .main-wrap-people {
    padding: 0 10px;
  }
  .main-wrap-contacter {
    padding: 0 10px;
  }
  .button-contacter {
    position: absolute;
    bottom: 32px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
  }
  .main-carbon-actor {
    margin-top: 50px;
    padding: 0 10px;
  }
  .banner-bf-res {
    display: none;
  }
  .main-carbon-cmt .box-img {
    margin: 0;
  }
  .desc-res {
    margin-top: -20px;
  }
  .table-carbon-item .columns {
    width: 100%;
  }
  .w-4.res {
    width: 100%;
  }
  .main-carbon-item.res {
    padding: 0 10px;
  }
  .box-guide-w .title {
    font-size: 20px;
  }
  .box-guide-w {
    height: fit-content;
    margin-bottom: 20px;
    padding: 20px 18px 20px 18px;
  }
  .box-button {
    position: relative;
    left: 0;
    bottom: 0;
    transform: none;
    width: 100%;
  }
  .line-bottom.res {
    display: none;
  }
  .main-carbon-pour {
    margin-top: 50px;
    padding: 0 10px;
  }
  .list-pour li:nth-child(1) {
    margin-bottom: 30px;
  }
  .list-pour li:nth-child(2) {
    margin-bottom: 30px;
  }
  .round-btn {
    margin-top: 30px;
    width: 100%;
  }
  .main-carbon-item.res {
    margin-bottom: 40px !important;
  }
  .main-carbon-wrap {
    padding: 0 10px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .main-carbon-slider {
    margin-top: 40px;
    padding: 0 10px;

  }
  .main-carbon-slider .main-title {
    margin: initial;
  }
  .content-slider {
    width: 100%;
    margin-top: 30px;
  }
  .carbon-r {
    display: none;
  }
  .slick-prev, .slick-next {
    display: none;
  }
  .main-carbon-slider {
    margin-bottom: 70px;
  }
  .main-carbon-item {
    padding: 0 10px;
  }
  .main-carbon-item {
    margin-bottom: 50px;
  }
}
